*, *::before, *::after
{
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  opacity: 100%;
  /* transition: 0.25s; */
}

.mobile-navbar
{
	display: none;
}

body
{
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#loader1, #loader2, #loader3
{
	width: 37.5px;
	height: 37.5px;
}

.imgs-as-icons
{
  width: 50px;
  height: 50px;
}

.navbar
{
  /* background: #212a51; */
  background: rgba(0, 0, 0, 0.375);
  text-align: right;
  opacity: 100%;
  transition: 0.3s;
}

/* START OF MOBILE STYLES */

.mobile-navbar
{
	list-style-type: none;
  /* background: rgba(0, 0, 0, 1.0); */
  opacity: 100%;
  transition: 0.3s;
}

.mobile-navbar li
{
	margin: 7.5px auto;
	width: 87.5%;
}

.mobile-navbar li input
{
	height: 50px;
	width: 100%;
	background: #1d1d1f;
	color: #fff;
	text-align: center;
	border: none;
	border-radius: 50px;
	outline: none;
	font-size: 20px;
}

.mobile-navbar input::placeholder
{
	color: lightgrey;
}

/* END OF MOBILE STYLES */

ul
{
  margin: 0;
  padding: 5px;
  transition: 0.3s;
}

.navbar li
{
  margin: 0 0;
  padding: 5px;
  display: inline-block;
  transition: 0.3s;
}

.navbar li a
{
  font-size: 25px;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 5px;
}

.navbar .search-city
{
  width: 25vw;
  height: 5.75vh;
  font-size: 18.75px;
}

.search-city
{
  letter-spacing: 0.50px;
  padding-left: 20px;
  background: rgba(0, 0, 0, 0.50);
  border: none;
  color: #fff;
  border-radius: 50px;
  outline: none;
}

.navbar a:hover:not(.repo-link)
{
  background: #000;
  transition: 0.3s;
  border-radius: 5px;
}

.location-name
{
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.temperature-container
{
  text-align: center;
  margin: auto;
  font-size: 50px;
}

.temperature-icon
{
  margin-bottom: -15px;
  padding: 0;
}

.temperature-value
{
  margin-top: -15px;
  padding: 0;
  color: #fff;
}

.weather-type
{
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.additionals-first-row, .additionals-second-row
{
  font-size: 12.5px;
  width: 100%;
  text-align: center;
}

.additionals-first-row
{
  margin-bottom: 12.5px;
}

.additionals-second-row
{
  margin-top: 12.5px;
}

.air-quality-additional, .real-feel-additional, .humidity-additional, .max-temperature-additional, .min-temperature-additional
{
  margin-left: 5px;
  margin-right: 5px;
  background: #fff;
  border-radius: 50px;
  padding: 2.5px 10px;
}

.wind-speed-additional, .wind-direction-additional, .visibility-additional, .pressure-additional, .sunrise-additional, .sunset-additional
{
  margin-left: 5px;
  margin-right: 5px;
  background: #fff;
  border-radius: 50px;
  padding: 2.5px 10px;
}

.separator
{
  width: 25%;
  margin: auto;
  height: 7.5px;
  background: lightgrey;
  border-radius: 50px;
}

.daily-forecast
{
  padding: 25px;
  margin-top: -25px;
  text-align: center;
}

.daily-forecast .daily-forecast-label
{
  color: #fff;
}


.daily-forecast-card
{
  display: inline-block;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
  width: 125px;
  height: 162.5px;
  padding: 2.5px 10px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  color: #fff;
}

.daily-forecast-card .daily-forecast-logo
{
  font-size: 37.5px;
  margin: -10px -10px;
}

.daily-forecast-card .daily-forecast-date
{
  font-size: 17.5px;
  margin-top: 12.5px;
  font-weight: 400;
}

.daily-forecast-card .daily-forecast-logo
{
  margin-top: -15px;
  margin-bottom: 2.5px;
}

.daily-forecast-card .weather-type-daily-forecast
{
  font-weight: normal;
  margin-top: 2.5px;
}

.max-daily-forecast
{
  font-weight: bold;
  font-size: 25px;
}

@media (max-width: 600px)
{
	.navbar
	{
		display: none;
	}

	.mobile-navbar
	{
		display: block;

	}

	.additionals-first-row, .additionals-second-row
	{
		line-height: 27.5px;
		margin: 0;
	}

	.additionals-first-row span, .additionals-second-row span
	{
		display: none;
	}

	.daily-forecast-card
	{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.daily-forecast .daily-forecast-label
	{
		background: lightgrey;
		color: #252525;
		padding: 10px;
		width: 75%;
		border-radius: 50px;
		margin: auto;
	}
	#weatherType
	{
		margin-top: 0;
	}
}